{% extends "base.html" %}
{% load i18n %}

{% block title %}Tangent Solutions - Summary{% endblock %}

{% block content %}

<div class="container">
   <h2>Employee Summary PDF</h2> 
 
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>Email</th>
        <th>Position</th>
      </tr>
    </thead>
    <tbody>
    {% for d in data %}
      <tr>
        <td>{{d.user.first_name}}</td>
        <td>{{d.user.last_name}}</td>
        <td>{{d.user.email}}</td>
        <td>{{d.position.name}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>


</div>
{% endblock %}
