{% extends "base.html" %}
{% load i18n %}

{% block title %}Tangent Solutions - Summary{% endblock %}

{% block content %}

<div class="main">  
 <h2>Employee Birthdays This Month</h2> 
   {% include "search_bar.html" %}
 <div class="widget-content">

  <table class="table table-striped">
    <thead>
      <tr>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>Email</th>
        <th>Position</th>
        <th>View Profile</th>
      </tr>
    </thead>
    <tbody>
    {% for d in data %}
      <tr>
        <td>{{d.user.first_name}}</td>
        <td>{{d.user.last_name}}</td>
        <td>{{d.user.email}}</td>
        <td>{{d.position.name}}</td>
        <td><a href="/employee/details/{{d.user.id}}">View</a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  </div>
</div>


{% endblock %}






{% extends "base.html" %}
{% load i18n %}

{% block title %} Tangent Solutions - Employee Stats{% endblock %}

{% block content %}

<div class="main">
  <div class="main-inner">
    <div class="container">
      <div class="row">
       <div class="span12">
           <h2>Employee Birthdays This Month</h2> 
                 {% include "search_bar.html" %}
               
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th>Firstname</th>
                      <th>Lastname</th>
                      <th>Email</th>
                      <th>Position</th>
                      <th>View Profile</th>
                    </tr>
                  </thead>
                  <tbody>
                  {% for d in data %}
                    <tr>
                      <td>{{d.user.first_name}}</td>
                      <td>{{d.user.last_name}}</td>
                      <td>{{d.user.email}}</td>
                      <td>{{d.position.name}}</td>
                      <td><a href="/employee/details/{{d.user.id}}">View</a></td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>

      </div>
      </div>
      <!-- /row --> 
    </div>
    <!-- /container --> 
  </div>
  <!-- /main-inner --> 
</div>
<!-- /main -->
{% endblock %}



