{% extends "base.html" %}
{% load i18n %}

{% block title %} Tangent Solutions - Login{% endblock %}

{% block content %}
<form action="{% url 'login' %}" method="POST">
{% csrf_token %}
  <div class="imgcontainer">
    <img src="/assets/tangent-logo.png" alt="tangent solutions" class="avatar">
  </div>

  <div class="container">
    <label for="uname"><b>Username</b></label>

    {{ form.username }}

    <label for="psw"><b>Password</b></label>
    {{ form.password }}
        
    <button type="submit">Login</button>
    {% if 'invalid_login' in request.session %}
        <label style="color:Red">Invalid login please try again.</label>

    {% endif %}
  </div>
</form>

{% endblock %}
