{% extends "base.html" %}
{% load i18n %}

{% block title %}Tangent Solutions - Position Information{% endblock %}

{% block content %}

<div class="container">
   <h2>Total Employees {{total_employees}}</h2> 
   {% include "search_bar.html" %}
 
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Title</th>
        <th>Amount Of Juniors Employeed</th>
        <th>Amount Of Seniors Employeed</th>
      </tr>
    </thead>
    <tbody>
    {% for k, v in position_data.items %}
      <tr>
        <td>{{k}}</td>
        {% for i,j in v.items %}
        <td>{% if i == 'Junior' %}{{j}}{% endif %}</td>
        <td>{% if i == 'Senior' %}{{j}}{% endif %}</td>
        {% endfor %}
      </tr>
      {% endfor %}
    </tbody>
  </table>
     <a class="btn btn-primary mb-2" href="/employee/dashboard/">Back</a>

</div>


{% endblock %}
