
 <form id="id_form_search" name="form_search" method="POST" class="form-inline" action='/employee/summary/'>
 {% csrf_token %}
  <div class="form-group">
  
  <input type="input" class="form-control" placeholder="Employee Search" readonly="">
    <select id="id_gender" name="gender">
        <option value="">Select Gender</option>
        <option value="M">Male</option>
        <option value="F">Female</option>
    </select>

    <select id="id_race" name="race">
         <option value="">Select Race</option>
          <option value="B">African</option>
          <option value="C">Coloured</option>
          <option value="I">Indian</option>
          <option value="W">White</option>
          <option value="N">None</option>

    </select>
        <select id="id_user" name="user">
        </select>
    <select id="id_position" name="position">
    </select>
    <input type="input" class="form-control" name="email" id="id_email" placeholder="Enter Email Address">
    
   
    </div>
     <button type="submit" class="btn btn-default form-control">Submit</button>
     <button onclick="window.location" class="btn btn-default form-control">reset</button>
</form> 
<script type="text/javascript">
  $(document).ready(function(){
        $.ajax({
         type: 'GET',
         url: '/ajax/employee-search/',
         dataType: 'json',
         success: function (data) {
            $("#id_position").empty();
            $('#id_position').append('<option data-tokens="" value=""> Select Position</option>')
            $("#id_user").empty();
            $('#id_user').append('<option data-tokens="" value=""> Select User</option>')
            for (d in data){
                var position = data[d]['position']
                var user_data = data[d]['user_data']
                for (p in position){
                $('#id_position').append('<option value=' + position[p].id + '>'+ position[p].name +'</option>')
                }
                for (u in user_data){
                $('#id_user').append('<option value=' + user_data[u].id + '>'+ user_data[u].name +'</option>')
                }
            }
         },
       });

});
</script>