{% extends "base.html" %}
{% load i18n %}

{% block title %}Tangent Solutions - Summary{% endblock %}

{% block content %}

<div class="container">
   <h2>Employee Summary View</h2> 
   {% include "search_bar.html" %}
 
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>Email</th>
        <th>Position</th>
        <th>View Profile</th>
      </tr>
    </thead>
    <tbody>
    {% for d in data %}
      <tr>
        <td>{{d.user.first_name}}</td>
        <td>{{d.user.last_name}}</td>
        <td>{{d.user.email}}</td>
        <td>{{d.position.name}}</td>
        <td><a href="/employee/details/{{d.user.id}}">View</a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
     <a class="btn btn-primary mb-2" href="/employee/dashboard/">Back</a>

</div>


{% endblock %}
