{% extends "base.html" %}
{% load i18n %}

{% block title %} Tangent Solutions - Employee Stats{% endblock %}

{% block content %}

<div class="main">
  <div class="widget-content">
    {% include "search_bar.html" %}

  <table class="table table-striped table-bordered">
        <thead>
          <tr>
            <th> Your Profile </th>
            <th class="td-actions"> </th>
          </tr>
        </thead>
         <tbody>
          <tr>
            <td> First Name:</td>
            <td> {{data.user.first_name}} </td>
          </tr>
          <tr>
            <td> Last Name:</td>
            <td> {{data.user.last_name}} </td>
          </tr>
          <tr>
            <td> Age:</td>
            <td> {{data.age}} </td>
          </tr>
          <tr>
            <td> Date Of Birth:</td>
            <td> {{data.birth_date}} </td>
          </tr>
          <tr>
            <td> ID Number:</td>
            <td> {{data.id_number}} </td>
          </tr>
          <tr>
            <td> Gender:</td>
            <td> {% if data.gender == 'M' %} Male {% else %}Female{% endif %} </td>
          </tr>
           <tr>
            <td> Race:</td>
            <td> {% if data.race == 'B' %} Black African{% elif data.race == 'C' %}Coloured {% elif data.race == 'I' %}Indian or Asian{% elif data.race == 'W' %}White{% else %}None Dominant{% endif %} </td>
          </tr>
          <tr>
            <td> Phone Number:</td>
            <td> {{data.phone_number}} </td>
          </tr>
          <tr>
            <td> Work Email Address:</td>
            <td> {{data.email}} </td>
          </tr>
          <tr>
            <td> Private Email Address:</td>
            <td> {{data.personal_email}} </td>
          </tr>
          <tr>
            <td> Physical Address:</td>
            <td> {{data.physical_address|safe}} </td>
          </tr>
          <tr>
            <td> Start Date:</td>
            <td> {{data.start_date}} </td>
          </tr>
           <tr>
            <td> Leave Remaining:</td>
            <td> {{data.leave_remaining}} </td>
          </tr>
          
           <tr>
            <td> Tax Number:</td>
            <td> {{data.tax_number}} </td>
          </tr>
          {% for d in data.employee_review %}
           <tr>
            <td> Date:</td>
            <td> {{d.date}} </td>
          </tr>
           <tr>
            <td> Salary:</td>
            <td> {{d.salary}} </td>
          </tr>
           <tr>
            <td> Type:</td>
            <td> {% if d.type == 'P' %} Performance Increase{% elif  d.type == 'A' %}Annual Increase{% elif  d.type == 'S' %}Starting Salary{% elif  d.type == 'E' %}Expectation Review{% endif %} </td>
          </tr>
          {% endfor %}
          <tr>
            <td> Next Review:</td>
            <td> {{data.next_review}} </td>
          </tr>
          {% for d in data.employee_next_of_kin %}
          <tr>
            <td> Name:</td>
            <td> {{d.name}} </td>
          </tr>
          <tr>
            <td> Phone Number:</td>
            <td> {{d.phone_number}} </td>
          </tr>
           <tr>
            <td> Name:</td>
            <td> {{d.name}} </td>
          </tr>
          <tr>
            <td> Email:</td>
            <td> {{d.email}} </td>
          </tr>
           <tr>
            <td> Physical Address:</td>
            <td> {{d.physical_address|safe}} </td>
          </tr>

          {% endfor %}
         </tbody>
  </table>
   <a class="btn btn-primary mb-2" href="/employee/summary/">Back</a>
</div>

</div>
<!-- /main -->


{% endblock %}


